/*global*/
:root {
    --size-x10: 10px;
    --percent-x10: 10%;
    --p-color: #999;
    --nav__link-color: #575757;
    --logo-color: #575757;
    --header-container__logo-color: #c3c3fa;
    --jumbotron__title-color: #ffffff;
    --jumbotron__button-color: #ffffff;
    --jumbotron__button_background-color: #fa5ba5;
    --blog__background-color: #f3f2f2;
    --footer__background-color: #e2e2e2;
}
* {
    box-sizing: border-box;
}
.page {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    min-width: calc(var(--size-x10)*32);
}
.p {
    font-size: calc(var(--size-x10)*1.4);
    color: var(--p-color);
    line-height: 1.6;
}
.nav {
    display: flex;
    list-style-type: none;
    font-size: calc(var(--size-x10)*1.8);
}
.nav__li {
    margin-left: calc(var(--size-x10)*2);
}
.nav__li:first-child {
    margin: 0;
}
.nav__link {
    text-decoration: none;
    color: var(--nav__link-color);
}
.logo {
    font-size: calc(var(--size-x10)*3);
    text-transform: capitalize;
    margin: 0px;
    color: var(--logo-color);
}
.title-content {
    width: calc(var(--percent-x10)*10);
    text-align: center;
}
/*header*/
.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--size-x10)*5);
    align-content: center;
    width: calc(var(--percent-x10)*8);
    margin: calc(var(--size-x10)*4) auto;
}
.header-container__logo {
    font-size: calc(var(--size-x10)*3);
    color: var(--header-container__logo);
}
/*jumbotron*/
.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: calc(var(--size-x10)*8);
    padding-bottom: calc(var(--size-x10)*8);
    min-height: calc(var(--size-x10)*25);
    text-align: center;
}
.jumbotron__title {
    font-size: calc(var(--size-x10)*4);
    color: var(--jumbotron__title-color);
}
.jumbotron__button {
    display: inline-block;
    color: var(--jumbotron__button-color);
    text-decoration: none;
    font-weight: bold;
    font-size: calc(var(--size-x10)*1.8);
    margin-top: calc(var(--size-x10)*4);
    background-color: var(--jumbotron__button_background-color);
    padding: calc(var(--size-x10)*2) calc(var(--size-x10)*3);
    border-radius: calc(var(--size-x10)*3);
}
/* Services */
.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: calc(var(--size-x10)*5) auto;
    width: calc(var(--percent-x10)*7);
}
.services__service {
    width: calc(var(--percent-x10)*3);
    padding: calc(var(--size-x10)*3) calc(var(--size-x10)*1.5) calc(var(--size-x10)*5);
    text-align: center;
    line-height: 3;
}
/*blog*/
.blog {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--blog__background-color);
    padding-top: calc(var(--size-x10)*4);
}
.post {
    display: flex;
    width: calc(var(--percent-x10)*7);
    margin: calc(var(--size-x10)*4) auto;
}
.post__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: calc(var(--percent-x10)*0.3);
}
.post__title {
    text-align: left;
}
/*footer*/
.footer {
    background-color: var(--footer__background-color);
    display: inline-flex;
    flex-direction: column;
    width: calc(var(--percent-x10)*10);
    padding: calc(var(--size-x10)*5);
    text-align: center;
}
.footer__logo {
    width: auto;
}
.footer__nav {
    margin: calc(var(--size-x10)*2) auto;
}
@media screen and (max-width: 767px) {
    /*headerAddapt*/
    .header-container {
        display: flex;
        flex-direction: column;
        margin-top: calc(var(--size-x10)*3);
        width: auto;
        align-items: center;
    }
    .nav {
        width: auto;
    }
    /* ServicesAddapt */
    .services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: calc(var(--size-x10)*3) auto;
        width: calc(var(--percent-x10)*7);
    }
    .services__service {
        width: calc(var(--percent-x10)*10);
        padding: 0px calc(var(--size-x10)*1.5) calc(var(--size-x10)*2);
        text-align: center;
    }
    .services__icons {
        line-height: 1.6;
    }
    /*blogAddapt*/
    .post {
        display: flex;
        flex-direction: column;
        width: calc(var(--percent-x10)*7);
        margin: calc(var(--size-x10)*4) auto;
    }

}
    
