/*
* Landing Page - Practice
* CSS Styles
* http://www.idg.net.ua/blog/uchebnik-css/ispolzovanie-css/praktika-delaem-landing-page
*
*/


/* General */
* {
    box-sizing: border-box;
}
.page {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}
.p {
    font-size: 14px;
    color: #999;
    line-height: 1.6;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.brand {
    font-size: 30px;
}
.menu {
    display: flex;
}
/* Header */
.header {
    display: flex;
}
.main-background__h {
    display: block;
}

/* Services */
.services {
    justify-content: space-between;
}
.services__h {
    width: 100%;
}
.services__service {
    width: 30%;
    padding: 30px 15px 50px;
    text-align: center;
    
}
/*.services__icons {
    color: rgb(223, 18, 18);
}*/

/* Blog */



/* Footer */


